.location-list
  position: relative
  top: 0
  display: none
  &.active
    display: block

  .donut-location
    padding: 11px 0
    border-bottom: solid 2px $green
    width: 100%
    background: $brown
    clearfix()

    &:last-child
      border: 0

  .yelp-information
    display: -webkit-flex
    display: flex
    text-decoration: none
    float: left

    .preview
      width: 77px
      min-width: 77px
      height: 77px
      border-radius: 8px
      margin: 0 11px

.text-information
  width: 100%
  .title
    font-family: $Oswald
    font-size: 17px
    color: $white
    letter-spacing: 1.3px
    font-weight: 400
    max-width: 155px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  .reviews
    position: relative
    display: block
    height: 35px
    padding-left: 88px
    overflow: hidden
    margin-bottom: 1px
    .stars
      fill: $pink
      width: 100px
      height: 90px
      position: absolute
      top: -29px
      left: -10px
    .review-text
      font-size: 13px
      line-height: 33px
      color: $pink
      font-family: $Josefin
  .address
    font-size: 13px
    color: $green
    font-family: $Josefin

.location-list .directions
  position: relative
  border: solid 2px $green
  border-radius: 5px
  width: 80px
  height: 75px
  margin-right: 10px
  text-decoration: none
  display: block
  float: right

  svg
    width: 60px
    height: 60px
    position: absolute
    right: 9px
    top: 2px

    path
      fill: $white
      &:last-child
        fill: $pink

  span
    display: block
    position: relative
    top: 55px
    right: 0
    color: $white
    text-decoration: none
    font-family: $Oswald
    text-align: center
