.menu.closed
  include ../../icons/exit
  .background
  header
    h1.logo D
      b O
      | NUT
      br
      | HUNTER
  .content
    p A fun donut tracker perfect for those sweet tooth cravings.
    .more-projects
      a( href="http://d3rpz1lla.github.io", target="_blank" ) View More Projects
    ul.credits
      a( href="https://www.linkedin.com/in/sterlingforest", target="_blank" )
        li.credit
          .role Development / Design
          .name Sterling F
      a( href="https://www.linkedin.com/in/outlinesvanish", target="_blank" )
        li.credit
          .role Concept / Logo
          .name Jenna C
      a( href="https://www.linkedin.com/in/outlinesvanish", target="_blank" )
        li.credit
          .role Design
          .name Jen S
      a( href="https://thenounproject.com/kozinn/", target="_blank")
        li.credit
          .role Star Rating Icons
          .name Nikita K
      a( href="https://thenounproject.com/01karent/", target="_blank")
        li.credit
          .role Exit Icon
          .name Karen T

    img.concept-art( src="/images/hunter_avatar.png")
