svg( x="0px", y="0px", viewBox="0 0 100 100", enable-background="new 0 0 100 100" ).stars.2-stars
  g
    path( d="M90.559,38.84H9.442c-2.462,0-4.464,2.003-4.464,4.464v13.392c0,2.461,2.002,4.465,4.464,4.465h81.117   c2.461,0,4.463-2.004,4.463-4.465V43.304C95.021,40.843,93.02,38.84,90.559,38.84z M93.258,56.695c0,1.486-1.211,2.697-2.699,2.697   H9.442c-1.488,0-2.698-1.211-2.698-2.697V43.304c0-1.488,1.21-2.698,2.698-2.698h81.117c1.488,0,2.699,1.21,2.699,2.698V56.695z" )
    polygon( points="18.807,47.676 16.62,43.5 14.432,47.676 9.785,48.465 13.081,51.836 12.396,56.499 16.62,54.407 20.844,56.499    20.159,51.836 23.454,48.465  " )
    polygon( points="35.498,47.676 33.311,43.5 31.124,47.676 26.477,48.465 29.772,51.836 29.087,56.499 33.311,54.407 37.535,56.499    36.85,51.836 40.146,48.465  " )
    path( d="M52.479,47.277l-2.477-4.729l-2.477,4.729l-5.262,0.894l3.731,3.817l-0.775,5.281l4.783-2.369l4.783,2.369l-0.775-5.281   l3.73-3.817L52.479,47.277z M53.666,55.73l-3.664-1.816l-3.665,1.816l0.594-4.047l-2.859-2.925l4.032-0.685l1.898-3.623   l1.898,3.623l4.031,0.685l-2.857,2.925L53.666,55.73z" )
    path( d="M69.172,47.277l-2.479-4.729l-2.479,4.729l-5.262,0.894l3.732,3.817L61.91,57.27l4.781-2.369l4.783,2.369l-0.775-5.281   l3.732-3.817L69.172,47.277z M70.359,55.73l-3.666-1.816l-3.664,1.816l0.596-4.047l-2.859-2.925l4.031-0.685l1.896-3.623   l1.898,3.623l4.031,0.685l-2.859,2.925L70.359,55.73z" )
    path( d="M83.385,42.548l-2.477,4.729l-5.262,0.894l3.73,3.817l-0.775,5.281l4.783-2.369l4.783,2.369l-0.775-5.281l3.73-3.817   l-5.264-0.894L83.385,42.548z M86.457,51.684l0.594,4.047l-3.664-1.815l-3.666,1.815l0.594-4.047l-2.857-2.924l4.033-0.685   l1.896-3.623l1.898,3.623l4.031,0.685L86.457,51.684z" )
