svg( x="0px", y="0px", viewBox="0 0 100 100", enable-background="new 0 0 100 100" ).stars.5-stars
  g
    path( d="M90.541,38.846H9.459c-2.46,0-4.461,2.003-4.461,4.463v13.385c0,2.459,2.001,4.461,4.461,4.461h81.082   c2.459,0,4.461-2.002,4.461-4.461V43.309C95.002,40.849,93,38.846,90.541,38.846z M93.236,56.693c0,1.486-1.209,2.696-2.695,2.696   H9.459c-1.487,0-2.697-1.21-2.697-2.696V43.309c0-1.487,1.21-2.698,2.697-2.698h81.082c1.486,0,2.695,1.21,2.695,2.698V56.693z" )
    polygon( points="18.822,47.678 16.635,43.504 14.449,47.678 9.805,48.467 13.099,51.836 12.414,56.498 16.635,54.406    20.857,56.498 20.172,51.836 23.466,48.467  " )
    polygon( points="35.504,47.678 33.318,43.504 31.132,47.678 26.487,48.467 29.782,51.836 29.098,56.498 33.318,54.406    37.542,56.498 36.856,51.836 40.15,48.467  " )
    polygon( points="52.189,47.678 50.002,43.504 47.816,47.678 43.171,48.467 46.465,51.836 45.781,56.498 50.002,54.406    54.225,56.498 53.541,51.836 56.834,48.467  "  )
    polygon( points="68.873,47.678 66.686,43.504 64.5,47.678 59.855,48.467 63.148,51.836 62.465,56.498 66.686,54.406 70.908,56.498    70.223,51.836 73.518,48.467  " )
    polygon( points="85.557,47.678 83.369,43.504 81.184,47.678 76.539,48.467 79.832,51.836 79.146,56.498 83.369,54.406    87.594,56.498 86.908,51.836 90.201,48.467  " )
