svg.exit( x="0px", y="0px", viewBox="0 0 100 125", enable-background="new 0 0 100 100" )
  g
    path( d="M54.809,49.998l16.007-16.007c1.328-1.328,1.328-3.48,0-4.809c-1.328-1.327-3.48-1.327-4.809,0L50,45.189   L33.993,29.182c-1.328-1.327-3.48-1.327-4.809,0c-1.328,1.328-1.328,3.48,0,4.809l16.007,16.007L29.181,66.009   c-1.328,1.328-1.328,3.48,0,4.809c0.664,0.664,1.534,0.996,2.404,0.996s1.74-0.332,2.404-0.996L50,54.807l16.011,16.011   c0.664,0.664,1.534,0.996,2.404,0.996s1.74-0.332,2.404-0.996c1.328-1.328,1.328-3.48,0-4.809L54.809,49.998z" )
    path( d="M73.438,2.762H26.562c-13.146,0-23.801,10.656-23.801,23.801v46.877c0,13.145,10.654,23.799,23.801,23.799   h46.875c13.146,0,23.801-10.654,23.801-23.799V26.562C97.238,13.418,86.584,2.762,73.438,2.762z M87.038,73.439   c0,7.498-6.102,13.599-13.601,13.599H26.562c-7.5,0-13.601-6.101-13.601-13.599V26.562c0-7.5,6.101-13.601,13.601-13.601h46.875   c7.499,0,13.601,6.101,13.601,13.601V73.439z" )
