header.header-view
  .flex-container
    h1.logo D
      b O
      | NUT
      br
      | HUNTER
    form.location-input
      img.search-icon( src="/images/search.png")
      input( placeholder="My Location" )
    .menu-icon
      div
      div
      div
  .flex-container
    .tagline Let's hunt some donuts!
    .mobile-bar
      .mobile-controls
        .map Map
        .hr
        .list.selected List
