header.header-view
  .flex-container
    h1.logo( style="text-align: center;") D
      b O
      | NUT
      br
      | HUNTER
    form.location-input
      img.search-icon( src="/images/search.png")
      input( placeholder="My Location" )
    .menu-icon
      div
      div
      div
  .flex-container
    .tagline Let's hunt
      span.large-only  some donuts
      | !
    .mobile-bar
      .mobile-controls
        .map Map
        .hr
        .list.selected List

  a( href="https://www.yelp.com" ).yelp-branding
    span Powered by
    img.yelp-logo( src="/images/yelp-logo.png")
