header.header-view
  .derp
    h1.logo D
      b O
      | NUT
      br
      | HUNTER
    .location-input
      img.search-icon( src="/images/search.png")
      input( placeholder="Current Location" )
    .menu
      div
      div
      div
  .row
    .tagline Let's hunt some donuts!
    .mobile-bar
      .mobile-controls
        .map.selected Map
        .hr
        .list List
