doctype html
html
  head
    title Donut Hunter v0.4
    link(rel='stylesheet', href='dist/phone/style.css')
    script( type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDv_insHb8qwr4qDAaTZRikfoAi9Kbm_Ck&libraries=places" )
    script(data-main='dist/phone/main', src='node_modules/requirejs/require.js')
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link( href='https://fonts.googleapis.com/css?family=Great+Vibes', rel='stylesheet', type='text/css')
    link( href='https://fonts.googleapis.com/css?family=Rosario:400,400italic|Josefin+Sans:400,600', rel='stylesheet', rel='stylesheet', type='text/css')
  body
    header
      .row
        h1.logo D
          b O
          | NUT
          br
          | HUNTER
        .location-input-containter
          .location-input
            img.search-icon( src="/images/search.png")
            input( placeholder="Current Location", value="Current Location")
        .menu
          div
          div
          div
      .row
        .tagline Let's hunt some donuts!
        .mobile-bar
          .mobile-controls
            .map.selected Map
            .hr
            .list List
    #map-canvas

    .location-list
