doctype html
html
  head
    title Donut Hunter v0.4
    link(rel='stylesheet', href='dist/phone/style.css')
    script( type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDv_insHb8qwr4qDAaTZRikfoAi9Kbm_Ck&libraries=places" )
    script(data-main='dist/phone/main', src='node_modules/requirejs/require.js')
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link( href='https://fonts.googleapis.com/css?family=Dancing+Script', rel='stylesheet', type='text/css')
  body
    header
      .row
        img( src="/images/home_link.png")
        .location-input
          input( placeholder="Current Location")
        .menu
          div
          div
          div
      .row
        .tagline Let's hunt some donuts !
        .mobile-bar
          .mobile-controls
            .map.selected Map
            .hr
            .list List
    #map-canvas

    .location-list
