.gm-style-iw
  padding: 10px;
  background-color: $brown !important
  color: $white !important
  margin: 1px;
  top: 28px !important;
  left: 0 !important;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 3px solid $green;
  border-radius: 2px 2px 0 0;

  .title
    font-family: $Oswald
    font-size: 17px
    color: $white
    letter-spacing: 1.3px
    font-weight: 400
  .reviews
    position: relative
    height: 25px
    padding-left: 88px
    overflow: hidden
    margin-bottom: 1px
    .stars
      fill: $pink
      width: 100px
      height: 90px
      position: absolute
      top: -31px
      left: -10px
    .review-text
      font-size: 13px
      line-height: 23px
      color: $pink
      font-family: $Josefin
  .address
    font-size: 13px
    color: $green
    font-family: $Josefin
