.gm-style-iw
  padding: 6px 6px 2px 6px
  background-color: $brown !important
  color: $white !important
  margin: 1px
  top: 25px !important
  left: 0 !important
  border-radius: 0 !important
  overflow: visible !important
  box-shadow: 0
  border: 3px solid $green
  border-radius: 2px 2px 0 0
  width: auto !important

  a
    text-decoration: none

  .info-window
    clearfix()
    width: 171px

  .yelp-information
    float: left

  .title
    font-family: $Oswald
    font-size: 17px
    padding-bottom: 3px
    color: $white
    letter-spacing: 1.3px
    font-weight: 400
    max-width: 115px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  .reviews
    display: block
    position: relative
    padding-left: 88px
    overflow: hidden
    margin-bottom: 1px
    height: 32px
    .stars
      fill: $pink
      width: 100px
      height: 90px
      position: absolute
      top: -31px
      left: -10px
    .review-text
      font-size: 13px
      line-height: 32px
      color: $pink
      font-family: $Josefin
      white-space: nowrap
  .address
    margin-top: -5px
    font-size: 13px
    color: $green
    font-family: $Josefin
    max-width: 115px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

  .directions
    position: relative
    border-radius: 5px
    width: 60px
    height: 60px
    margin-right: -3px
    margin-left: -10px
    text-decoration: none
    display: block
    float: right

    svg
      width: 59px
      height: 59px
      position: absolute
      right: 0px
      top: -4px

      path
        fill: $white
        &:last-child
          fill: $pink

  span
    display: block
    position: relative
    top: 46px
    right: 0
    color: $white
    text-decoration: none
    font-family: $Oswald
    text-align: center

.down-arrow
  position: absolute
  bottom: -18px
  left: 93px
  width: 0
  height: 0
  border-left: 15px solid transparent
  border-right: 15px solid transparent
  border-top: 20px solid $green

  &.green
    border-top: 18px solid $green
  &.brown
    border-top: 18px solid $brown
    bottom: -13px
    z-index: 2

.default-close-button
  display: none

.you-are-here .down-arrow
  left: 58px
