img.preview( src!="<%= model.get( 'image_url' ) %>" )
.text-information
  .title <%= model.get( 'name' ) %>
  .reviews
    include stars
    .review-text <%= model.get( 'review_count' ) %> Reviews
  .address
    | <%= model.get( 'location' ).address.join( ' ' ) %>
    br
    | <%= model.get( 'location' ).city %> <%= model.get( 'location' ).state_code %> <%= model.get( 'location' ).postal_code %>

.distance-and-price
