img.preview( src!="<%= photo %>" )
.text-information
  .title <%= attributes.name %>
  .reviews
    include stars
    .review-text <%= attributes.reviews.length %> Reviews
  .address <%= attributes.vicinity %>

.distance-and-price
  .distance 1.1 mi
  .price $$
