//- img.preview( src!="<%= preview %>" )
img.preview( src!="http://s3-media4.fl.yelpcdn.com/bphoto/fz5xkCeIZSwwOunhqcoNqw/ms.jpg" )
.text-information
  .title Koffee Kat
  .reviews
    .stars
    | 257 Reviews
  .address
    | Pacific Beach
    | 4750 Cass St, San Diego

.distance-and-price
  .distance 1.1 mi
  .price $$
