img.preview( src!="<%= photo %>" )
.text-information
  .title <%= attributes.name %>
  .reviews
    .stars
    | <%= attributes.user_ratings_total %> Reviews
  .address <%= attributes.vicinity %>

.distance-and-price
  .distance 1.1 mi
  .price $$
