article.menu
  h1.logo D
    b O
    | NUT
    br
    | HUNTER
  p Donut Hunter
  hr
  .credits
    a Sterling Forest . . . . . . . . Software Engineer / Design
    a Jenna Conway . . . . . . . . Character Illustration
    a Jen Shipley . . . . . . . . . . Design Consultation
    a Nikita Kozin . . . . . . . . . . . Star Rating Icons
