<% if ( rating == 0 ) { %>
include 0-star
<% } %>

<% if ( rating == 1 ) { %>
include 1-star
<% } %>

<% if ( rating == 2 ) { %>
include 2-star
<% } %>

<% if ( rating == 3 ) { %>
include 3-star
<% } %>

<% if ( rating == 4 ) { %>
include 4-star
<% } %>

<% if ( rating == 5 ) { %>
include 5-star
<% } %>
