global-reset()

body
  background: #87af7d
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

header
  background: black
  padding:10px
  border-bottom: solid 5px #87af7d

.row
  clearfix()

  img
    display: block
    height: 48px
    width: auto
    float: left

.location-input-containter
  width: 200px
  float: left

.location-input
  margin: 0 0 0 12px
  border-radius: 15px
  border: solid 2px #f992c5
  padding-right: 15px
  width: 165px
  position: relative

  .search-icon
    position: absolute
    top: 4px
    left: 5px
    width: 26px
    height: auto

  input
    display: block
    background: black
    color: white
    border: 0
    outline: 0
    padding: 5px 0px 5px 30px
    border-radius: 15px
    width: 145px
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size: 16px

.menu
  float: right
  padding: 4px
  div
    width: 33px
    height: 3px
    background: #87af7d
    margin-bottom: 7px
    border-radius: 5px

.tagline
  color: #87af7d
  padding-top: 2px
  height: 30px
  line-height: 30px
  font-size: 20px
  font-family: 'Dancing Script', cursive
  float: left

.mobile-bar
  background: black
  color: white
  font-size: 16px
  float: right

.mobile-controls
  margin: 0 auto
  width: 110px
  border: solid 2px #f992c5
  height: 30px
  position: relative

  .map
    position: absolute
    width: 50%
    margin-top: -1px
    height: 31px
    line-height: 31px
    text-align: center
    padding-left: 1px
    margin-left: -1px
    left: 0
    top: 0

  .hr
    width: 2px
    height: 31px
    background: #f992c5
    margin: -1px auto 0 auto

  .list
    position: absolute
    width: 50%
    margin-top: -1px
    height: 31px
    line-height: 31px
    text-align: center
    padding-right: 1px
    margin-right: -1px
    right: 0
    top: 0

  .selected
    background: #f992c5
    color: black

#map-canvas
  width: 100%
  height: 400px
  margin: 0 auto
.location-list
  img
    max-width: 100%
