$pink = #ea7da2
$green = #71a87b
$white = #ffffff
$offWhite = #fffef2

$Josefin = 'Josefin Sans', sans-serif
$GreatVibes = 'Great Vibes', cursive
$InputText = 'Lato', sans-serif

global-reset()

placeholder(n)
  &::-webkit-input-placeholder  /* WebKit, Blink, Edge */
    color: n
    opacity: 1
  &:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
    color: n
  &::-moz-placeholder  /* Mozilla Firefox 19+ */
    color: n
    opacity: 1
  &:-ms-input-placeholder /* Internet Explorer 10-11 */
    color: n

body
  background: black
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-seriff

@import "header"

#map-canvas
  display: none
  width: 100%
  height: 400px
  margin: 0 auto

  &.active
    display: block

.location-list
  display: none
  &.active
    display: block

  .donut-location
    padding: 11px 0
    border-bottom: solid 2px $green
    display: -webkit-flex
    display: flex
    width: 100%
    background: black

    .preview
      width: 65px
      min-width: 65px
      height: 65px
      border-radius: 8px
      margin: 0 11px

    .text-information
      width: 100%
      .title
        font-family: $GreatVibes
        font-size: 20px
        color: $white
        padding-top: 5px
      .reviews
        position: relative
        height: 35px
        padding-left: 100px
        overflow: hidden
        .stars
          fill: $pink
          width: 100px
          height: 90px
          position: absolute
          top: -30px
          left: -10px
        .review-text
          font-size: 13px
          line-height: 33px
          color: $pink
          font-family: $Josefin
      .address
        font-size: 13px
        color: $green
        font-family: $Josefin

    .distance-and-price
      color: $green
      font-size: 13px
      font-family: $Josefin
      padding-top: 5px
      text-align: right
      margin-right: 11px
      .distance
        width: 50px
      .price
        margin: 0
