$pink = #ea7da2
$green = #71a87b
$white = #f5f5f5
$brown = #1a0a05
$black = #0d0d0d

$Josefin = 'Josefin Sans', sans-serif
$GreatVibes = 'Great Vibes', cursive
$InputText = 'Lato', sans-serif
$Risque = 'Risque', cursive

global-reset()

placeholder(n)
  &::-webkit-input-placeholder  /* WebKit, Blink, Edge */
    color: n
    opacity: 1
  &:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
    color: n
  &::-moz-placeholder  /* Mozilla Firefox 19+ */
    color: n
    opacity: 1
  &:-ms-input-placeholder /* Internet Explorer 10-11 */
    color: n

body
  margin-top: 110px
  overflow: visible
  background: $black
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-seriff


@import "header"
@import "location_list"
@import "info_window"

#map-canvas
  display: none
  width: 100%
  height: 400px
  margin: 0 auto

  &.active
    display: block
