doctype html
html
  head
    title Donut Hunter v0.4
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

    link(rel='stylesheet', href='dist/phone/style.css')
    link( href='https://fonts.googleapis.com/css?family=Rosario:400,400italic|Josefin+Sans:400,600|Lato|Risque|Great+Vibes|Oswald', rel='stylesheet', rel='stylesheet', type='text/css')
  body
    include views/Menu/template
    include views/Header/template

    #map-canvas.active

    .location-list


    script( type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv_insHb8qwr4qDAaTZRikfoAi9Kbm_Ck&libraries=places&sensor=true" )
    script( type="text/javascript", src="https://crypto-js.googlecode.com/files/2.0.0-crypto-sha1.js" )
    script( type="text/javascript", src="https://crypto-js.googlecode.com/files/2.0.0-hmac-min.js" )
    script(data-main='dist/main', src='node_modules/requirejs/require.js')
