doctype html
html
  head
    title Donut Hunter v0.4
    link(rel='stylesheet', href='dist/main.css')
    script( type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDv_insHb8qwr4qDAaTZRikfoAi9Kbm_Ck&libraries=places" )
    script(data-main='dist/main', src='node_modules/requirejs/require.js')

  body
    header#header.invisible
      a( href="/" )
        img( id="home_link", src="images/home_link.png" )

    img( id="donut", src="images/donut_hunter.jpg" )
    img.invisible( id="current_text", src="images/current_text.png" )
    #testing

    #input.invisible
      form
        input( id="current", type="text", placeholder="Where are you?" )

    #map-canvas
    #output.output
      | Test Output
